Authtype Basic
AuthName "Protected directory"
AuthUserFile /var/sites/p/pletho.com/.htpasswd
Require user GreatLeanFamily450
<IfModule mod_dummy.c>
AuthUserFile \\PDC1\sites\p\pletho.com\.htpasswd
</IfModule>